<!-- AddThis Button BEGIN -->
	<span class="addthis-style">
		<a class="addthis_button_facebook"><img src="{T_THEME_PATH}/images/social/facebook_addthis.png" border="0" alt="Share to Facebook" /></a>
		<a class="addthis_button_twitter"><img src="{T_THEME_PATH}/images/social/twitter_addthis.png" border="0" alt="Share to Twitter" /></a>
	</span>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-528f0064430646d9"></script>
<!-- AddThis Button END -->